<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TicTacToe - VueJS</title>

    <meta name="description" content="TicTacToe game, built with VueJs - Learning experience">
    <meta name="keywords" content="">
    <meta name="author" content="Alexandre Canijo, https://github.com/alexandrecanijo/tic-tac-toe-vuejs">

    <link rel="canonical" href="https://www.alexandrecanijo.com/tictactoevuejs/" />

    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" type="text/css" href="assets/normalize.css">

    <!-- For development purposes -->
    <!--<script>document.write("<link rel='stylesheet' type='text/css' href='assets/tictactoe.css?v=" + Date.now() + "'>");</script>-->
    <!-- Production ready -->
    <link rel="stylesheet" type='text/css' href="assets/tictactoe.css">

    <!-- For development purposes -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->

    <!-- Production ready -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
<noscript>This site uses javascript.</noscript>

<div id="app"></div>

<script type="text/x-template" id="grid">
    <div class="container">
        <div class="wrapper">

            <div v-if="!finished" class="player">
                <div>Next player: <span class="actual">{{next}}</span></div>
            </div>

            <div v-if="finished" class="status">
                <div v-if="stalemate" class="result stale">It's a draw!<br>Stalemate!</div>
                <div v-else class="result">Finished!<br><span class="winner">{{next}}</span> wins!</div>
            </div>

            <div class="grid">
                <div class="row" v-for="(row, row_index) in rows">
                    <div class="column" v-for="(column, column_index) in row" v-on:click="tap" v-bind:data-row="row_index" v-bind:data-column="column_index">
                        {{column}}
                    </div>
                </div>

            </div>

            <div class="footer">
                <a v-if="finished" v-on:click="restart" class="restart">New game</a>
            </div>

        </div>
    </div>

</script>

<!-- For development purposes -->
<!--<script>document.write("<script src='scripts/tictactoe.js?v=" + Date.now() + "'><\/script>");</script>-->

<!-- Production ready -->
<script src="scripts/tictactoe.js"></script>

</body>
</html>