
$color-text-primary: #000;
$color-primary: #2196f3;
$color-primary-light: #bbdefb;
$color-primary-dark: #1976d2;
$color-accent: #ff5722;

$color-text: #fff;
$color-text-primary: #fff;
$color-text-secondary: #757575;
$color-divider: #bdbdbd;